In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
pd.set_option('display.max_columns', None)
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [14]:
# rcmd_5min = pd.read_csv('c:/Users/nrise/rcmd_5min.csv')
# rcmd_10min = pd.read_csv('c:/Users/nrise/rcmd_10min.csv')
# rcmd_30min = pd.read_csv('c:/Users/nrise/rcmd_30min.csv')
rcmd_60min = pd.read_csv('c:/Users/nrise/rcmd_60min.csv')

In [19]:
rcmd = rcmd_60min.copy()
rcmd['grade'] = rcmd['relative_score'] // 30 +1

In [20]:
bins = np.arange(0,1100,100)
labels = [str(i) for i in bins[1:]]
rcmd['rcmd_cnt_bin'] = pd.cut(rcmd['rcmd_cnt'],bins=bins,labels=labels,include_lowest=True)

df_max_rcmd = rcmd.sort_values(by=['user_id', 'rcmd_cnt'], ascending=[True, False])
rcmd_unique = df_max_rcmd.drop_duplicates(subset=['user_id'], keep='first')
pivot_rcmd = rcmd.pivot_table(index = 'grade',columns='rcmd_cnt_bin',values='user_id',aggfunc='nunique',fill_value=0,observed=False)
pivot_rcmd

rcmd_cnt_bin   100   200   300   400   500   600  700  800  900  1000
grade
1.0           8617  6070  4675  3325  2753  1252  672  386  237   148
2.0           8225  3863  1690   928  1517   391  102   47   36    22
3.0           7739  2496   787   514  1406   251   89   52   30    22
4.0           2517   637   210   158   461    61   22   14   12     6

In [21]:
pivot_rcmd = rcmd_unique.pivot_table(index = 'grade',columns='rcmd_cnt_bin',values='user_id',aggfunc='nunique',fill_value=0,observed=False)
pivot_rcmd

rcmd_cnt_bin   100   200   300   400   500  600  700  800  900  1000
grade
1.0           1468   848  1171  1396  1787  815  426  261  159   108
2.0           3334  1421   744   633  1423  361   91   40   33    21
3.0           4005   992   381   387  1364  229   77   47   29    19
4.0           1422   238   116   123   452   58   20   13   12     6

In [22]:
df_max_rcmd = rcmd[rcmd['del_interval_hour']<=24].sort_values(by=['user_id', 'rcmd_cnt'], ascending=[True, False])
rcmd_unique = df_max_rcmd.drop_duplicates(subset=['user_id'], keep='first')
pivot_rcmd = rcmd_unique.pivot_table(index = 'grade',columns='rcmd_cnt_bin',values='user_id',aggfunc='nunique',fill_value=0,observed=False)
pivot_rcmd

rcmd_cnt_bin   100  200  300  400  500  600  700  800  900  1000
grade
1.0           1095  337  224  222  418  132   47   29   13    10
2.0           1317  147  130  164  467  116   15   10   11     9
3.0           1124   85   61  108  445   80   25   20   10     2
4.0            338   16   27   35  131   19    7    4    6     3